body{
    padding-bottom: 100px;
}

.content{
    margin: 50px 470px;
    padding: 30px;
    width: 620px;
    text-align: center;
}

.card-body{
    text-align: center;
}

.btn{
    background-color: cornflowerblue;
    color: white;
}

.navbar{
    background-color: cornflowerblue;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 100px;
}

.nav-link{
    color: white;
}

.footer{
    text-align: center;
    background-color: cornflowerblue;
    color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-text{
    color:white;
}

form{
    border: 2px solid lightgrey;
    padding: 20px;
}

form h3{
    text-align: center;
}


.pagination{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagination-info, .pagination-no{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-info div{
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
}

.pagination-no div{
    margin: 5px;
    padding: 10px;
}

