<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="main">
        <header th:include="@{/fragments/header.html}"></header>
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Welcome to <span th:text="${restaurantName}"></span></h3>
                    <p class="card-text">Glad to have you at our restaurant! You will definitely not regret your decision.</p>
                    <a th:href="@{/restaurant/menu/1}" class="btn">Menu</a>
                </div>
            </div>
        </div>
        <footer th:include="@{/fragments/footer.html}"></footer>
    </div>
</body>
</html>